.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__info {
  width: 60%;
  height: 60vh;
}

.box__top {
  width: 100%;
  margin-bottom: 2.4rem;
}

.box__top p {
  font-size: 3rem;
}

.box__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.box__extra {
  background-color: #f6f6f6;
  width: 30%;
  border-radius: 3rem;
}

.box__extra img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: left;
}

.inputSearch {
  background-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  max-width: 230px;
  border: none;
  display: inline;
  margin-left: 1rem;
  border-bottom: 1px solid #5a5a5a;
}

.initialText {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.background img {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}

.bottom {
  width: 50%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.bottom__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle__item {
  font-size: 1.9rem;
  font-weight: bold;
  margin-top: 1rem;
}

.subvalue__item {
  margin: 0px;
  font-family: 'Anton', sans-serif;
}

.location {
  font-size: 2rem;
}

.location h1 {
  margin: 0px;
  padding: 0px;
}

.temp {
  font-family: 'Anton', sans-serif;
  font-size: 13rem;
  margin-top: 2rem;
}

.temp p {
  margin: 0;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search input[type="text"] {
  width: 100%;
  display: inline-block;
  border: none;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 2rem;
}

.search__icon {
  width: 12%;
  border: none;
  background-color: transparent;
  background-color: #dfe6e9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.search__icon svg {
  width: 4rem;
  height: 4rem;
}
